* {
  box-sizing: border-box;
}
.navbarlist {
  list-style: none;
  text-align: end;
}
.navlink {
  display: inline;
  padding-inline: 25px;
}
.image {
  width: 272px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 930px;
}
.searchbar {
  width: 582px;
  height: 44px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 35px;
  font-size: 20px;
}
.search-image {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 595px;
  left: 650px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.below {
  display: flex;
  justify-content: center;
  align-items: center;
}