* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbarlist {
  list-style: none;
  text-align: end;
}
.navlink {
  display: inline;
  padding-inline: 25px;
}

.image {
  width: 272px;
  height: 92px;
}
.google-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.searchbar {
  width: 582px;
  height: 44px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 35px;
  font-size: 18px;
  border-color: #dfe1e5;
}
.search-image {
  width: 20px;
  height: 20px;
}
.below {
  display: flex;
  align-items: center;
  justify-content: center;
}
.below input {
  margin-right: 10px;
}
svg {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 15px;
  margin-top: 18px;
}
.gsearch,
.glucky {
  padding: 10px;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  border: none;
  background-color: #f1f3f4;
  border-color: #dadce0;
  color: #202124;
  font-size: 14px;
}
input[type="submit"]:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.images-text {
  position: absolute;
  margin-left: 400px;
  color: #4285f4;
  font-size: 25px;
  font-family: Arial, sans-serif;
  margin-top: 9vh;
  margin-right: 18px;
}
.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.google-image img {
  height: 24px;
  width: 74px;
}
.header-advanced-logo img{
  height: 30px;
  width: 90px;
}
.appbar{
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  color: red;
}
.header-advanced{
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blueButton{
  width: 185px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #4285f4;
  font-size: smaller;
  color: white;
  margin-left: 700px;
}
.advanced-search-container {
  margin: 50px 40px;
}
.advanced-search-container label {
  display: inline-block;
  width: 16%;
  font-size: 20px;
}
.advanced-search-container .whitespace {
  display: inline-block;
  width: 50%;
}
.advanced-search-container .form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}
.advanced-search-container .form-group label {
  width: 16%;
  font-size: 14px;
}
.advanced-search-container .form-group input[type=text] {
  width: 49%;
  padding: 2px 0;
}
.advanced-search-container .form-group .clarification {
  font-size: 11px;
  width: 30%;
  margin-left: 1%;
}
.advanced-search-container .form-group .clarification .monospace {
  font-family: monospace;
}
.advanced-search-container .form-group .right-align {
  width: 50%;
}
